*{margin: 0;
    padding: 0;}
    body{
        text-align: center;
        margin: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-image:linear-gradient(to left,  rgb(0, 0, 0), rgb(36, 36, 39),rgb(99, 87, 99))
    }h1{
        font-style: normal;
        text-align: center;
        background-color: rgb(36, 187, 36);
        color: aliceblue;
        font-size: 30px;
        font-family: monospace;
        font-weight: 600;
    }
    p{ font-style: normal;
        text-align: center;
        color: rgb(43, 226, 119);;
        font-size: 15px;
        font-family: monospace;
        font-weight: 100;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: brown;
        font-size:  20px;
        text-align: center;
        font-style: normal; 
     
    }
    address{font-style: normal;
        text-align: center;
        color: rgb(43, 226, 119);;
        font-size: 20px;
        font-family: monospace;
        font-weight: 100;

    }
    @media screen and(max-width:768px){.flex-container{
        display: flex;
        flex-direction: row ;
        justify-content:center;
    }
    }button{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(48, 122, 14);
        font-size: 10px;
        text-align: center;
        font-style: normal;
    }img{
        height: 30px;
        width: 30px;
        text-align: center;
    }
    